<section id="prices" class="section" data-stellar-background-ratio="0.2">
  <div class="container mb-3">
    <div class="section-header">
      <h2 class="section-title wow fadeIn" data-wow-duration="1000ms" data-wow-delay="0.3s"><span>Services</span></h2>
      <hr class="lines wow zoomIn" data-wow-delay="0.3s">
      <p class="section-subtitle wow fadeIn" data-wow-duration="1000ms" data-wow-delay="0.3s">
        Each session will be individually tailored for you, based on the issues you report , what I discover, and the creative synergy of the moment.
      </p>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <div class="content-left text-right wow fadeInLeft animated" data-wow-offset="10">
          <div class="row justify-content-md-center mb-3 h2 left-header">
            <strong>Single Sessions</strong>
          </div>
          <div class="row mb-3">
            <div class="col-9">
              <div class="text mt-4 h6">
                30 Minute Session $60
              </div>
            </div>
            <div class="col-3">
              <div class="box-item" style="cursor: pointer">
                <span class="icon" data-placement="top" title="We will focus on a couple of specific issues or areas that you request.">
                  <%= image_tag"prices/candle.jpg", style: 'height:100%; width:100%;'%>
                </span>
              </div>
            </div>
          </div>
          <div class="row mb-3">
            <div class="col-9">
              <div class="text mt-4 h6">
                60 Minute Session $110
              </div>
            </div>
            <div class="col-3">
              <div class="box-item" style="cursor: pointer">
                <span class="icon" data-placement="top" title="This is a full body treatment addressing the specific issues that you bring as well as what I find by applying a variety of modalities. You can anticipate some gentle stretching, Trigger Point, Swedish & Deep Tissue, along with  additional therapeutic methods.">
                  <%= image_tag"prices/flowers.jpg", style: 'height:100%; width:100%;'%>
                </span>
              </div>
            </div>
          </div>
          <div class="row mb-3">
            <div class="col-9">
              <div class="text mt-4 h6">
                90 Minute Session $150
              </div>
            </div>
            <div class="col-3">
              <div class="box-item" style="cursor: pointer">
                <span class="icon" data-placement="top" title="This is a full body treatment addressing the specific issues that you bring, as well as what we find together. Each treatment is like an exploratative journey gently encouraging 'knots' to melt, finding the most efficient and effective routes to release persistent issues of tension, tightness, and soreness… encouraging balance, fluidity, and ease. As we flow along, additional modalities are incorporated, including warm, soothing stones.">
                  <%= image_tag"prices/angel.jpg", style: 'height:100%; width:100%;'%>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <div class="show-box wow fadeInDown mt-5" data-wow-offset="10">
          <%= image_tag("prices/massage2.jpg", style: "opacity:0.9")%>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <div class="content-right text-left wow fadeInRight animated" data-wow-offset="10">
          <div class="row justify-content-md-center mb-3 h2">
            <strong>Multi-Session Packages</strong>
          </div>
          <div class="row mb-3">
            <div class="col-3">
              <div class="box-item" style="cursor: pointer">
                <span class="icon" data-placement="top" title="We will focus on a couple of specific issues or areas that you request.">
                  <%= image_tag"prices/ball.jpg", style: 'height:100%; width:100%;'%>
                </span>
              </div>
            </div>
            <div class="col-9">
              <div class="text mt-4 h6" data-toggle="tooltip">
                Five 30 Minute Sessions $275
              </div>
            </div>
          </div>
          <div class="row mb-3">
            <div class="col-3">
              <div class="box-item" style="cursor: pointer">
                <span class="icon" data-placement="top" title="This is a full body treatment addressing the specific issues that you bring as well as what I find by applying a variety of modalities. You can anticipate some gentle stretching, Trigger Point, Swedish & Deep Tissue, among several therapeutic methods.">
                  <%= image_tag"prices/stars.jpg", style: 'height:100%; width:100%;'%>
                </span>
              </div>
            </div>
            <div class="col-9">
              <div class="text mt-4 h6">
                Five 60 Minute Sessions $500
              </div>
            </div>
          </div>
          <div class="row mb-3">
            <div class="col-3">
              <div class="box-item" style="cursor: pointer">
                <span class="icon" data-placement="top" title="This is a full body treatment addressing the specific issues that you bring, as well as what I find. Each treatment is like a an explora-tative journey of gently encouraging 'knots' to melt, divining the most efficient and effective routes to find and release persistent issues of tension, tightness, soreness... encouraging balance, fluidity, and ease. Numerous modalities are used as we flow along. Warm, soothing stones can also be incorporated into this service.">
                  <%= image_tag"prices/light.jpg", style: 'height:100%; width:100%;'%>
                </span>
              </div>
            </div>
            <div class="col-9">
              <div class="text mt-4 h6">
                Five 90 Minute Sessions $675
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="price-footer">
    <div class="container">
      <div class="row">
        <div class="col-3 mt-4 text-right">
          Gift Certificates are available through the MIndBody website and MindBody app for Mobile devices
        </div>
        <div class="col-2 mt-4 mr-5">
          <iframe id="getOurApp" scrolling="no" allowtransparency="true" src="https://clients.mindbodyonline.com/connect/appbutton?siteID=251698" style="border: none; width: 200px; height: 48px;"></iframe>
        </div>
        <div class="col-7 mt-4 ml-2 text-right">
          <%= image_tag "prices/payment_methods.png", width: "170" %>
        </div>
      </div>
    </div>
  </div>
</section>
