<% title 'Testimonial' %>
<% description 'Maintaining physical, mental, and emotional health is vital for everyone. Give yourself the gift of living well.' %>
<% keywords 'Massage Therapy, Deep Tissue, Massage Castro, LGBTQ massage, Best Massage, Licensed massage, Certified massage, 5 Star massage, Top 10 Massage Therapist ,Massage San Francisco, Central Location' %>

<section id="testimonials" class="section">
  <div class="container">
    <div class="section-header">
      <h2 class="section-title"><span>Testimonials</span></h2>
      <hr class="lines">
    </div>
    <div class="row">
      <div class="col-md-12">
        <div id="testimonial" class="row">
          <div class="col-sm-6 col-md-4 col-lg-4 col-xl-4 mix marketing planning">
            <div class="testimonial-item">
              <div class="shot-item">
                <a href="https://www.expertise.com/ca/san-francisco/massage-therapy"><img src="https://cdn.expertise.com/awards/ca_san-francisco_massage-therapy_2020.svg" alt="Best Massage Therapists in San Francisco" width="300" height="250"></a>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-md-4 col-lg-4 col-xl-4 mix planning">
            <div class="testimonial-item">
              <div class="shot-item">
                <%= image_tag("testimonials/testimonial2.png")%>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-md-4 col-lg-4 col-xl-4 mix research">
            <div class="testimonial-item">
              <div class="shot-item">
                <%= image_tag("testimonials/testimonial3.png")%>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-md-4 col-lg-4 col-xl-4 mix marketing research">
            <div class="testimonial-item">
              <div class="shot-item">
                <%= image_tag("testimonials/testimonial4.png")%>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-md-4 col-lg-4 col-xl-4 mix marketing planning">
            <div class="testimonial-item">
              <div class="shot-item">
                <%= image_tag("testimonials/testimonial5.png")%>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-md-4 col-lg-4 col-xl-4 mix planning research">
            <div class="testimonial-item">
              <div class="shot-item">
                <%= image_tag("testimonials/testimonial6.png")%>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
