<section id="testimonials" class="section">
  <!-- Container Starts -->
  <div class="container">
    <div class="section-header">
      <h2 class="section-title wow fadeIn" data-wow-duration="1000ms" data-wow-delay="0.3s"><span>Testimonials</span></h2>
      <hr class="lines wow zoomIn" data-wow-delay="0.3s">
    </div>
    <div class="row">
      <div class="col-md-12">

        <!-- testimonial Recent Projects -->
        <div id="testimonial" class="row wow fadeInUp" data-wow-delay="0.8s">
          <div class="col-sm-6 col-md-4 col-lg-4 col-xl-4 mix marketing planning">
            <div class="testimonial-item">
              <div class="shot-item">
<a href="https://www.expertise.com/ca/san-francisco/massage-therapy"><img src="https://cdn.expertise.com/awards/ca_san-francisco_massage-therapy_2019.svg" alt="Best Massage Therapists in San Francisco" width="300" height="250"></a>
                  <%#= image_tag("testimonials/testimonial1.png", alt: "")%>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-md-4 col-lg-4 col-xl-4 mix planning">
            <div class="testimonial-item">
              <div class="shot-item">
                  <%= image_tag("testimonials/testimonial2.png", alt: "")%>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-md-4 col-lg-4 col-xl-4 mix research">
            <div class="testimonial-item">
              <div class="shot-item">
                  <%= image_tag("testimonials/testimonial3.png", alt: "")%>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-md-4 col-lg-4 col-xl-4 mix marketing research">
            <div class="testimonial-item">
              <div class="shot-item">
                  <%= image_tag("testimonials/testimonial4.png", alt: "")%>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-md-4 col-lg-4 col-xl-4 mix marketing planning">
            <div class="testimonial-item">
              <div class="shot-item">
                  <%= image_tag("testimonials/testimonial5.png", alt: "")%>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-md-4 col-lg-4 col-xl-4 mix planning research">
            <div class="testimonial-item">
              <div class="shot-item">
                  <%= image_tag("testimonials/testimonial6.png", alt: "")%>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Container Ends -->
</section>
