<div id="welcome" class="welcome">
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col-md-10 wow fadeInRight" data-wow-delay="0.2s">
        <div class="touch-slider">
          <div class="about-item">

            <h3>Welcome</h3>
            <hr class="lines wow zoomIn" data-wow-delay="0.3s">
            <div class="welcome-text">
              <p>
                Thank you for stopping by and giving me the opportunity to showcase my Massage Therapy practice.
                Here you will discover the unique experience that I offer in this beautiful City by the Bay. Enjoy your visit and if this sounds like what you are looking for,
                go ahead and schedule an appointment through the button at the top of this page
                or feel free to contact me with any questions you may have through "Contact" section below.
                <div class=" ead pos wow fadeIn signature">
                  Yours in Health, Stephen
                </div>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div id="carousel" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carousel" data-slide-to="0" class="active"></li>
          <li data-target="#carousel" data-slide-to="1"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="d-none d-lg-block">
              <div class="slide-box">
                <%= image_tag("welcome/massage1.jpg", width: 200, height: 200, style: "opacity:0.9")%>
                <%= image_tag("prices/massage2.jpg", width: 200, height: 200, style: "opacity:0.9")%>
                <%= image_tag("welcome/massage7.jpg", width: 200, height: 200, style: "opacity:0.9")%>
                <%= image_tag("welcome/massage6.jpg", width: 200, height: 200, style: "opacity:0.9")%>
              </div>
            </div>
            <div class="d-none d-md-block d-lg-none">
              <div class="slide-box">
                <%= image_tag("welcome/massage1.jpg", width: 200, height: 200, style: "opacity:0.9")%>
                <%= image_tag("prices/massage2.jpg", width: 200, height: 200, style: "opacity:0.9")%>
                <%= image_tag("welcome/massage4.jpg", width: 200, height: 200, style: "opacity:0.9")%>
              </div>
            </div>
            <div class="d-none d-sm-block d-md-none">
              <div class="slide-box">
                <%= image_tag("welcome/massage1.jpg", width: 200, height: 200, style: "opacity:0.9")%>
                <%= image_tag("prices/massage2.jpg", width: 200, height: 200, style: "opacity:0.9")%>
              </div>
            </div>
            <div class="d-block d-sm-none">
              <%= image_tag("welcome/massage1.jpg", width: 500, height: 300, style: "opacity:0.9")%>
            </div>
          </div>
          <!-- <div class="carousel-item">
            <div class="d-none d-lg-block">
              <div class="slide-box">
                <%= image_tag("welcome/massage3.jpg", width: 180, height: 340)%>
                <%= image_tag("welcome/massage3.jpg", width: 180, height: 340)%>
                <%= image_tag("welcome/massage8.jpg", width: 180, height: 340)%>
                <%= image_tag("welcome/massage9.jpg", width: 180, height: 340)%>
              </div>
            </div>
            <div class="d-none d-md-block d-lg-none">
              <div class="slide-box">
                <%= image_tag("welcome/massage8.jpg", width: 200, height: 200)%>
                <%= image_tag("welcome/massage9.jpg", width: 200, height: 200)%>
              </div>
            </div>
            <div class="d-none d-sm-block d-md-none">
              <div class="slide-box">
                <%= image_tag("welcome/massage8.jpg", width: 200, height: 200)%>
                <%= image_tag("welcome/massage9.jpg", width: 200, height: 200)%>
              </div>
            </div>
            <div class="d-block d-sm-none">
              <%= image_tag("welcome/massage9.jpg", width: 200, height: 200)%>
            </div>
          </div> -->
        </div>
      </div>
    </div>
  </div>

  <div class="welcome-footer">
    You can also install the <%= link_to "Mind Body app", "https://mindbody.io/?_branch_match_id=519686504558933267" %> onto your mobile device for another easy way to schedule with me.
  </div>
</div>
