
<%= render "home" %>
<%= render "service" %>
<%= render "price" %>

<section class="promo section">
  <div class="layer"></div>
</section>

<%= render "testimonial" %>
<%= render "about" %>
<%= render "blog" %>
<%= render "contact" %>
