
<%= render "home" %>
<%= render "about" %>
<%= render "service" %>
<%= render "price" %>
<%= render "testimonial" %>
<section class="promo section">
  <div class="layer"></div>
</section>
<%= render "blog" %>
<%= render "contact" %>
